@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default Light Mode */
:root {
  --text-primary: #1c121e;
  --text-secondary: #6b716a;
  --bg: #f4f4f4;
  --canute: #046DC3;
  --poncho: #FFCD02;
  --text-invert: #f4f4f4;
}

/* Utility Classes */
.bg-primary {
  background-color: var(--bg);
}

.text-primary {
  color: var(--text-primary);
  opacity: 1.0;
}

.text-secondary {
  color: var(--text-primary);
  opacity: 0.8;
}

.text-invert {
  color: var(--text-invert);
}

a:hover {
  color: var(--text-accent);
  cursor: url(/images/cursor.png), pointer;
}
